html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Andada Pro", serif;
  margin: 0;
  color: rgb(63, 32, 32);
}

header {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (min-width: 1150px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
  }
}

.logo {
  color: rgb(63, 32, 32);
  font-family: "Inknut Antiqua", serif;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 10px;
}
.logo::before, .logo::after {
  content: " ";
  display: block;
  width: 306px;
  height: 2px;
  background-color: rgb(63, 32, 32);
}
.logo::before {
  margin-bottom: -10px;
}
.logo::after {
  margin-top: -10px;
}

.menu__list {
  margin: 20px;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15px;
  gap: 10px;
}
@media screen and (min-width: 730px) {
  .menu__list {
    display: flex;
    justify-content: space-between;
  }
}

.menu__link {
  font-family: "Inknut Antiqua", serif;
  display: block;
  text-decoration: none;
  color: rgb(63, 32, 32);
  font-family: "Inknut Antiqua", serif;
}
.menu__link:hover {
  text-decoration-line: underline;
  font-weight: bold;
}

.hero {
  background-image: url(../images/uzdi.jpg);
  width: 100vw;
  background-size: cover;
  background-position: 50% 20%;
}
@media screen and (min-width: 730px) {
  .hero {
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.hero__title {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 10px rgb(63, 32, 32);
  font-size: 25px;
  font-family: "Inknut Antiqua", serif;
  padding-top: 50px;
}
@media screen and (min-width: 730px) {
  .hero__title {
    font-size: 40px;
    font-weight: bold;
  }
}
.hero__title::before, .hero__title::after {
  content: " ";
  display: block;
  width: 306px;
  height: 2px;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(63, 32, 32);
}
@media screen and (min-width: 730px) {
  .hero__title::before, .hero__title::after {
    width: 480px;
  }
}
.hero__title::before {
  margin: -10px auto;
}
.hero__title::after {
  margin: -10px auto;
}

.hero__text {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 10px rgb(63, 32, 32);
  padding: 80px;
  font-size: 25px;
  font-family: "Andada Pro", serif;
}

/*----------------------------------------------------------*/
.hero2 {
  background-image: url(../images/zamecky1.jpg);
  width: 100vw;
  background-size: cover;
  background-position: 50% 20%;
}
.hero2--alt {
  background-image: url(../images/nalavicce1.jpg);
}
@media screen and (min-width: 730px) {
  .hero2 {
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
  }
}

.hero2__title {
  color: white;
  text-align: center;
  margin: 20px;
  text-shadow: 1px 1px 10px rgb(63, 32, 32);
  font-size: 25px;
  font-family: "Inknut Antiqua", serif;
  padding: 150px 0;
}
@media screen and (min-width: 730px) {
  .hero2__title {
    font-size: 40px;
    font-weight: bold;
    padding: 0;
    margin: 200px auto;
  }
}
.hero2__title::before, .hero2__title::after {
  content: " ";
  display: block;
  width: 306px;
  height: 2px;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(63, 32, 32);
}
@media screen and (min-width: 730px) {
  .hero2__title::before, .hero2__title::after {
    width: 480px;
  }
}
.hero2__title::before {
  margin: -10px auto;
}
.hero2__title::after {
  margin: -10px auto;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  margin-top: 60px;
  background-color: rgb(63, 32, 32);
  color: white;
}

.footer__facebook,
.footer__email {
  color: white;
}

.intro {
  max-width: 1000px;
  margin: 40px auto;
}
@media screen and (min-width: 730px) {
  .intro {
    margin: 80px auto;
  }
}
.intro--alt {
  flex-direction: row-reverse;
}

.intro__title {
  font-size: "Inknut Antiqua", serif;
  margin: 0 20px;
  text-align: center;
}

.intro__image {
  display: none;
}
@media screen and (min-width: 730px) {
  .intro__image {
    display: block;
    width: 400px;
    margin: 40px;
    margin-bottom: 0;
    border-radius: 5px;
  }
}

.intro__container {
  display: flex;
  align-items: center;
}

.intro__text {
  text-align: center;
  margin: 20px;
  margin-bottom: 0;
}
@media screen and (min-width: 730px) {
  .intro__text {
    text-align: justify;
  }
}/*# sourceMappingURL=style.css.map */