@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.link-in-text {
  color: rgb(63, 32, 32);
}

body {
  font-family: "Andada Pro", serif;
  margin: 0;
  color: rgb(63, 32, 32);
}

header {
  max-width: 1500px;
  margin: 0 auto;
}
@media screen and (min-width: 1150px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
  }
}

.logo {
  display: inline-block;
}

.logo__text {
  color: rgb(63, 32, 32);
  font-family: "Inknut Antiqua", serif;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 10px;
}
@media screen and (min-width: 700px) {
  .logo__text {
    margin: 20px;
  }
}
@media screen and (min-width: 1150px) {
  .logo__text {
    margin-bottom: 40px;
  }
}
.logo__text::before, .logo__text::after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(63, 32, 32);
}
@media screen and (min-width: 350px) {
  .logo__text::before, .logo__text::after {
    width: 306px;
  }
}
.logo__text::before {
  margin-bottom: -10px;
}
.logo__text::after {
  margin-top: -10px;
}

.menu {
  position: relative;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__checkbox:checked ~ .menu__list {
  transform: translateX(160px);
}

.menu__toggler {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 20px 0 20px;
  display: inline-block;
}
@media screen and (min-width: 700px) {
  .menu__toggler {
    display: none;
  }
}

.menu__list {
  position: absolute;
  left: -160px;
  top: 55px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(63, 32, 32);
  width: 150px;
  transition: transform 0.5s;
}
@media screen and (min-width: 700px) {
  .menu__list {
    position: relative;
    left: 0;
    top: 0;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 1150px) {
  .menu__list {
    grid-template-columns: repeat(5, 120px);
  }
}

.menu__item {
  border-top: 1px solid white;
}
@media screen and (min-width: 700px) {
  .menu__item {
    border: 0;
  }
}

.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}
.menu__link:hover {
  background-color: rgb(92, 48, 48);
}
@media screen and (min-width: 700px) {
  .menu__link {
    padding: 0;
    color: rgb(63, 32, 32);
    background-color: none;
    font-family: "Inknut Antiqua", serif;
    font-size: 16px;
  }
  .menu__link:hover {
    font-weight: bold;
    background-color: white;
  }
}

@media screen and (min-width: 700px) {
  .menu__item--active .menu__link {
    text-decoration-line: underline;
    font-weight: bold;
  }
}

.hero {
  background-image: url(../images/uzdi.jpg);
  width: 100vw;
  background-size: cover;
  background-position: 50% 20%;
  margin-top: 20px;
}
@media screen and (min-width: 700px) {
  .hero {
    height: 450px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 2000px) {
  .hero {
    height: 900px;
    background-position: 50% 0;
  }
}

.hero__title {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 10px rgb(63, 32, 32);
  font-size: 25px;
  font-family: "Inknut Antiqua", serif;
  padding-top: 70px;
  margin: 0;
}
@media screen and (min-width: 700px) {
  .hero__title {
    font-size: 40px;
    font-weight: bold;
  }
}
.hero__title::before, .hero__title::after {
  content: " ";
  display: block;
  width: 200px;
  height: 2px;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(63, 32, 32);
}
@media screen and (min-width: 700px) {
  .hero__title::before, .hero__title::after {
    width: 480px;
  }
}
.hero__title::before {
  margin: -10px auto;
}
.hero__title::after {
  margin: -10px auto;
}

.hero__text {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 10px rgb(63, 32, 32);
  padding: 80px;
  font-size: 25px;
  font-family: "Andada Pro", serif;
}

/*--------------------úvodní stránka další dva hero--------------------------------------*/
.hero2 {
  background-image: url(../images/zamecky1.jpg);
  width: 100vw;
  background-size: cover;
  background-position: 50% 20%;
}
.hero2--alt {
  background-image: url(../images/nalavicce1.jpg);
  background-position: 50% 0;
}
@media screen and (min-width: 700px) {
  .hero2 {
    height: 450px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
  }
}
@media screen and (min-width: 2000px) {
  .hero2 {
    height: 900px;
    background-position: 50% 0;
  }
}

.hero2__title {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 10px rgb(63, 32, 32);
  font-size: 25px;
  font-family: "Inknut Antiqua", serif;
  padding: 130px 0;
  margin-bottom: 0;
}
@media screen and (min-width: 700px) {
  .hero2__title {
    font-size: 40px;
    font-weight: bold;
    padding: 0;
    margin: auto;
  }
}
.hero2__title::before, .hero2__title::after {
  content: " ";
  display: block;
  width: 200px;
  height: 2px;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(63, 32, 32);
}
@media screen and (min-width: 700px) {
  .hero2__title::before, .hero2__title::after {
    width: 480px;
  }
}
.hero2__title::before {
  margin: -10px auto;
}
.hero2__title::after {
  margin: -10px auto;
}

/*-----------------hero pro informace---------------*/
.hero2--alt2 {
  background-image: url(../images/solarsystem.JPG);
  background-position: 0 60%;
  margin-top: 20px;
}

.hero2--alt2a {
  background-image: url(../images/urybnika1.JPG);
  margin-top: 40px;
  height: 289px;
  margin-bottom: 20px;
}
@media screen and (min-width: 700px) {
  .hero2--alt2a {
    display: none;
  }
}

/*-------------------hero pro cenu-----------------*/
.hero2--alt3 {
  background-image: url(../images/okynka1.jpg);
  background-position: 0 90%;
  margin-top: 20px;
}

/*--------------------hero pro rezervace-------------*/
.hero2--alt4 {
  background-image: url(../images/podhoupackou.JPG);
  background-position: 0 50%;
  margin-top: 20px;
}

/*----------------hero pro kntakty---------------*/
.hero2--alt5 {
  background-image: url(../images/nadmapou.JPG);
  margin-top: 20px;
}
@media screen and (min-width: 1150px) {
  .hero2--alt5 {
    background-position: 0 10%;
  }
}

.hero2--alt6 {
  background-image: url(../images/babies.JPG);
  margin-top: 40px;
  height: 289px;
  margin-bottom: 20px;
}
@media screen and (min-width: 700px) {
  .hero2--alt6 {
    display: none;
  }
}

.intro {
  max-width: 1000px;
  margin: 40px auto;
}
@media screen and (min-width: 700px) {
  .intro {
    margin: 80px auto;
  }
}
.intro--alt {
  flex-direction: row-reverse;
}

.intro__title {
  font-size: "Inknut Antiqua", serif;
  margin: 0 20px;
  text-align: center;
}

.intro__image {
  display: none;
}
@media screen and (min-width: 700px) {
  .intro__image {
    display: block;
    width: 400px;
    margin: 40px;
    margin-bottom: 0;
    border-radius: 5px;
  }
}

.intro__container {
  display: flex;
  align-items: center;
}

.intro__text {
  text-align: center;
  margin: 20px;
  margin-bottom: 0;
}
@media screen and (min-width: 700px) {
  .intro__text {
    text-align: justify;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  margin-top: 60px;
  background-color: rgb(63, 32, 32);
  color: white;
}

.footer__facebook,
.footer__email {
  color: white;
}

.infos {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .infos {
    display: flex;
    align-items: center;
    text-align: right;
    margin-top: 80px;
  }
}
@media screen and (min-width: 700px) {
  .infos--alt {
    flex-direction: row-reverse;
    text-align: left;
  }
}

.infos__headline {
  margin: 40px 40px 10px 40px;
}
@media screen and (min-width: 700px) {
  .infos__headline {
    margin: 60px 20px 10px 20px;
  }
}

.infos__text {
  margin: 0 20px;
}

.infos__image--width {
  display: none;
}
@media screen and (min-width: 700px) {
  .infos__image--width {
    display: block;
    width: 400px;
    margin: 40px;
    margin-bottom: 0;
    border-radius: 5px;
  }
}

.infos__image--height {
  display: none;
}
@media screen and (min-width: 700px) {
  .infos__image--height {
    display: block;
    width: 400px;
    margin: 40px;
    margin-bottom: 0;
    border-radius: 5px;
  }
}

.form-intro {
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .form-intro {
    margin-top: 80px;
  }
}
.form-intro--alt {
  margin-top: 40px;
}

.form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
}

.form__label {
  display: block;
}

.form__input,
.form__textarea {
  width: 100%;
  margin-top: 5px;
  border: 1px solid rgb(63, 32, 32);
  border-radius: 3px;
  font-size: 16px;
  color: rgb(63, 32, 32);
  padding: 5px;
}
.form__input:focus,
.form__textarea:focus {
  outline: 1px solid rgb(63, 32, 32);
}

.form__field {
  margin-bottom: 20px;
}

.form__radio {
  display: block;
}

.form__button {
  background-color: rgb(63, 32, 32);
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  border: 0;
  display: block;
  margin: 0 auto;
}
.form__button:hover {
  background-color: rgb(92, 48, 48);
}

.form__radio {
  display: block;
  margin: 5px 20px;
}

.text-in-form {
  text-align: center;
  font-weight: bold;
}

.answer {
  opacity: 0.5;
}

.answer__text {
  margin-top: 0;
  margin-bottom: 50px;
}

.answer__box {
  display: block;
  width: 70vw;
  max-width: 500px;
  text-align: center;
  padding: 40px;
  border: 2px solid rgb(63, 32, 32);
  border-radius: 3px;
  background-color: rgb(182, 152, 152);
  position: absolute;
  right: 0;
  left: 0;
  margin: -300px auto;
}

.answer__button {
  background-color: rgb(63, 32, 32);
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  border: 0;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
}
.answer__button:hover {
  background-color: rgb(92, 48, 48);
}

.price {
  margin: 40px auto;
}
@media screen and (min-width: 700px) {
  .price {
    margin-top: 80px;
  }
}

.price__headline,
.price__text {
  text-align: center;
  margin: 40px;
  line-height: 1.5em;
}

.price__list {
  margin: 0 auto;
  border-spacing: 0;
}

.price__row td {
  border-bottom: 1px solid rgb(63, 32, 32);
  padding-bottom: 10px;
  padding-top: 10px;
}

.price__right {
  text-align: right;
  padding-left: 70px;
}
@media screen and (min-width: 700px) {
  .price__right {
    padding-left: 200px;
  }
}

.price__box {
  display: flex;
}

.contact__headline {
  text-align: center;
  margin: 40px;
}
@media screen and (min-width: 700px) {
  .contact__headline {
    margin-top: 80px;
  }
}

.contact {
  margin: 0 auto;
  border-spacing: 0;
  padding: 0 20px;
}

.contact__list td {
  padding-bottom: 10px;
}

.contact__right {
  text-align: left;
  padding-left: 20px;
}
@media screen and (min-width: 700px) {
  .contact__right {
    padding-left: 80px;
  }
}

.meeting-point__image {
  display: none;
}
@media screen and (min-width: 700px) {
  .meeting-point__image {
    display: block;
    width: 400px;
    margin: 40px;
    margin-bottom: 0;
    border-radius: 5px;
  }
}

.meeting-point {
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
  max-width: 1000px;
}
@media screen and (min-width: 700px) {
  .meeting-point {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 60px;
  }
}
@media screen and (min-width: 700px) {
  .meeting-point--alt {
    flex-direction: row-reverse;
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */