@use "settings";

.form-intro {
    margin: 100px auto 40px;
    padding: 0 20px;
    text-align: center;

    &--alt {
        margin-top: 0;
    }
}



.form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.form__label {
    display: block;
}

.form__input,
.form__textarea {
    width: 100%;
    margin-top: 5px;
    border: 1px solid settings.$titlecolor;
    border-radius: 3px;
    font-size: 16px;
    color: settings.$titlecolor;
    padding: 5px;

    &:focus{
        outline: 1px solid settings.$titlecolor;
    }    
}

.form__field {
    margin-bottom: 20px;   
}

.form__radio {
    display: block;
}

.form__button {
    background-color: settings.$titlecolor;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    border: 0;
    display: block;
    margin: 0 auto 40px;

    &:hover {
        background-color: rgb(92, 48, 48);
    }
}

.form__radio {
    display: block;
    margin: 5px 20px;
}

.text-in-form {
    text-align: center;
    font-weight: bold;
}

