@use "settings";

.hero {
	background-image: url(../images/uzdi.jpg);
	width: 100vw;
	background-size: cover;
	background-position: 50% 20%;
	margin-top: settings.$spacer;
	
	@media screen and (min-width: settings.$breakpoint1) {
		height: 450px;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}

	@media screen and (min-width: 2000px) {
		height: 700px;
		background-position: 50% 0;
	}
}

.hero__title {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 10px settings.$titlecolor;
	font-size: 25px;
	font-family: settings.$titlefont;
	padding-top: 70px;
	margin: 0;

	@media screen and (min-width: settings.$breakpoint1) {
		font-size: 40px;
		font-weight: bold;
	}

	&::before,
	&::after {
	content:" ";
	display: block;
	width: 200px;
	height: 2px;
	background-color: white;
	box-shadow: 1px 1px 10px settings.$titlecolor;

	@media screen and (min-width: settings.$breakpoint1) {
		width: 480px;
		}
	}

	&::before {
		margin: -10px auto;
	}

	&::after {
		margin: -10px auto;
	}
}

.hero__text {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 10px settings.$titlecolor;
	padding: settings.$spacer * 4;
	font-size: 25px;
	font-family: settings.$mainfont;
}

/*--------------------úvodní stránka další dva hero--------------------------------------*/

.hero2 {
	background-image: url(../images/zamecky1.jpg);
	width: 100vw;
	background-size: cover;
	background-position: 50% 20%;

	&--alt {
		background-image: url(../images/nalavicce1.jpg);
		background-position: 50% 0;
	}
	
	@media screen and (min-width: settings.$breakpoint1) {
		height: 450px;
		background-attachment: fixed;
		background-repeat: no-repeat;
		display: flex;
	}

	@media screen and (min-width: 2000px) {
		height: 900px;
		background-position: 50% 0;
	}
}

.hero2__title {
	color: white;
	text-align: center;
	
	text-shadow: 1px 1px 10px settings.$titlecolor;
	font-size: 25px;
	font-family: settings.$titlefont;
	padding: 130px 0;
	margin-bottom: 0;
	
	@media screen and (min-width: settings.$breakpoint1) {
		font-size: 40px;
		font-weight: bold;
		padding: 0;
		margin: auto;
	}

	&::before,
	&::after {
	content:" ";
	display: block;
	width: 200px;
	height: 2px;
	background-color: white;
	box-shadow: 1px 1px 10px settings.$titlecolor;

	@media screen and (min-width: settings.$breakpoint1) {
		width: 480px;
		}
	}

	&::before {
		margin: -10px auto;
	}

	&::after {
		margin: -10px auto;
	}
}

/*-----------------hero pro informace---------------*/


.hero2--alt2 {
    background-image: url(../images/solarsystem.JPG);
    background-position: 0 60%;
    margin-top: settings.$spacer;
}

.hero2--alt2a {
	background-image: url(../images/urybnika1.JPG);
    margin-top: settings.$spacer * 2;
	height: 289px;
	margin-bottom: settings.$spacer;

	@media screen and (min-width: settings.$breakpoint1){
		display: none;
	}

}

/*-------------------hero pro cenu-----------------*/

.hero2--alt3 {
    background-image: url(../images/okynka1.jpg);
    background-position: 0 90%;
    margin-top: settings.$spacer;
}

/*--------------------hero pro rezervace-------------*/

.hero2--alt4 {
    background-image: url(../images/podhoupackou.JPG);
    background-position: 0 50%;
    margin-top: settings.$spacer;
}

/*----------------hero pro kntakty---------------*/

.hero2--alt5 {
    background-image: url(../images/nadmapou.JPG);
    margin-top: settings.$spacer;

	@media screen and (min-width: settings.$breakpoint2){
		background-position: 0 10%;
	}
}

.hero2--alt6 {
	background-image: url(../images/babies.JPG);
    margin-top: settings.$spacer * 2;
	height: 289px;
	margin-bottom: settings.$spacer;

	@media screen and (min-width: settings.$breakpoint1){
		display: none;
	}
}

