@use "settings";


.infos {
    max-width: settings.$maxwidth;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;

    @media  screen and (min-width: settings.$breakpoint1) {
        display: flex; 
        align-items: center; 
        text-align: right;
        margin-top: settings.$spacer * 3;
    }

    &--alt { 
    @media  screen and (min-width: settings.$breakpoint1){
        flex-direction: row-reverse;
        text-align: left;
         }
    }
}

.infos__headline {
    margin: 60px 40px 10px 40px;

    @media  screen and (min-width: settings.$breakpoint1) {
        margin: 60px 20px 10px 20px;
    }
}

.infos__text {
    margin: 0 20px;
}

.infos__image--width {
    display: none;

    @media  screen and (min-width: settings.$breakpoint1) {
        display: block;
		width: 400px;
		margin: settings.$spacer*2;
		margin-bottom: 0;
		border-radius: 5px;
    }
}

.infos__image--height {
    display: none;

    @media  screen and (min-width: settings.$breakpoint1) {
        display: block;
		width: 400px;
		margin: settings.$spacer*2;
		margin-bottom: 0;
		border-radius: 5px
    }
}
