html {box-sizing: border-box;}
*, ::after, ::before {box-sizing:inherit;}


$titlefont: 'Inknut Antiqua', serif;
$mainfont:'Andada Pro', serif;
$spacer: 20px;
$titlecolor: rgb(63, 32, 32);
$maxwidth: 1000px;
$breakpoint1: 700px;
$breakpoint2: 1150px;

.link-in-text {
    color: $titlecolor;
}
