@use "body";
@use "header";
@use "logo";
@use "menu";
@use "heros";
@use "intro";
@use "footer";
@use "settings";



.infos {
    margin-top: 40px;
    max-width: 70vw;
    margin: 0 auto;
}

.infos__headline {
    text-align: center;
    margin: 60px 40px 10px 40px;
}

.infos__text {
    text-align: center;
}


.infos__image--width {
    display: none;
}

.infos__image--height {
    display: none;
}

