@use "settings";

body {
    font-family: settings.$mainfont;
    margin: 0;
	color: settings.$titlecolor;
}

header {
	max-width: settings.$maxwidth;
	margin: 0 auto;

	@media screen and (min-width: 1150px) {
		display: flex;
		justify-content: space-between;
		align-items: first baseline;
	}
}

.logo {
    color: settings.$titlecolor;
	font-family: settings.$titlefont;
	font-size: 25px;
	font-weight: bold;
	margin: settings.$spacer;
	margin-bottom: settings.$spacer/2;

	&::before,
	&::after {
		content:" ";
		display: block;
		width: 306px;
		height: 2px;
		background-color: settings.$titlecolor;
	}
	&::before {
		margin-bottom: -10px;
	}
	
	&::after {
		margin-top: -10px;
	}

}

.menu__list {
	margin: settings.$spacer;
	margin-top: settings.$spacer/2;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 15px;
	gap: settings.$spacer/2;
	
	@media screen and (min-width: 730px) {
		display: flex;
		justify-content: space-between;
	}
}	

.menu__link {
	font-family: settings.$titlefont;
	display: block;
	text-decoration: none;
	color: settings.$titlecolor;
	font-family: settings.$titlefont;

	&:hover {
		text-decoration-line: underline;
		font-weight: bold;
	}
}

.hero {
	background-image: url(../images/uzdi.jpg);
	width: 100vw;
	background-size: cover;
	background-position: 50% 20%;
	
	@media screen and (min-width: 730px) {
		height: 500px;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
	
}

.hero__title {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 10px settings.$titlecolor;
	font-size: 25px;
	font-family: settings.$titlefont;
	padding-top: 50px;

	@media screen and (min-width: 730px) {
		font-size: 40px;
		font-weight: bold;
	}

	&::before,
	&::after {
	content:" ";
	display: block;
	width: 306px;
	height: 2px;
	background-color: white;
	box-shadow: 1px 1px 10px settings.$titlecolor;

	@media screen and (min-width: 730px) {
		width: 480px;
		}
	}

	&::before {
		margin: -10px auto;
	}

	&::after {
		margin: -10px auto;
	}
}

.hero__text {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 10px settings.$titlecolor;
	padding: settings.$spacer*4;
	font-size: 25px;
	font-family: settings.$mainfont;
}

.intro {
	max-width: settings.$maxwidth;
	margin: settings.$spacer*2 auto;

	@media screen and (min-width: 730px) {
		margin: settings.$spacer*4 auto;
	}

	&--alt {
		flex-direction: row-reverse;
	}
}

.intro__title {
	font-size: settings.$titlefont;
	margin: 0 settings.$spacer;
	text-align: center;
}

.intro__image {
	display: none;

	@media  screen and (min-width: 730px) {
		display: block;
		width: 400px;
		margin: settings.$spacer*2;
		margin-bottom: 0;
		border-radius: 5px;
	}
}

.intro__container {
	display: flex;
	align-items: center;
}

.intro__text {
	text-align: center;
	margin: settings.$spacer;
	margin-bottom: 0;
	
	@media  screen and (min-width: 730px) {
		text-align: justify;
	}
}

.hero2 {
	background-image: url(../images/zamecky1.jpg);
	width: 100vw;
	background-size: cover;
	background-position: 50% 20%;

	&--alt {
		background-image: url(../images/nalavicce1.jpg);
	}
	
	@media screen and (min-width: 730px) {
		height: 500px;
		background-attachment: fixed;
		background-repeat: no-repeat;
		display: flex;
	}
}

.hero2__title {
	color: white;
	text-align: center;
	margin: settings.$spacer;
	text-shadow: 1px 1px 10px settings.$titlecolor;
	font-size: 25px;
	font-family: settings.$titlefont;
	padding: 150px 0;
	
	@media screen and (min-width: 730px) {
		font-size: 40px;
		font-weight: bold;
		padding: 0;
		margin: 200px auto;
	}

	&::before,
	&::after {
	content:" ";
	display: block;
	width: 306px;
	height: 2px;
	background-color: white;
	box-shadow: 1px 1px 10px settings.$titlecolor;

	@media screen and (min-width: 730px) {
		width: 480px;
		}
	}

	&::before {
		margin: -10px auto;
	}

	&::after {
		margin: -10px auto;
	}
}


/*
.hero3 {
	background-image: url(../images/nalavicce1.JPG);
	width: 100vw;
	background-size: cover;
	background-position: 50% 20%;
	
	@media screen and (min-width: 730px) {
		height: 500px;
		background-attachment: fixed;
		background-repeat: no-repeat;
		display: flex;
	}
}

.hero3__title {
	color: white;
	text-align: center;
	margin: settings.$spacer;
	text-shadow: 1px 1px 10px settings.$titlecolor;
	font-size: 25px;
	font-family: settings.$titlefont;
	padding: 150px 0;
	
	@media screen and (min-width: 730px) {
		font-size: 40px;
		font-weight: bold;
		padding: 0;
		margin: 200px auto;
	}

	&::before,
	&::after {
	content:" ";
	display: block;
	width: 306px;
	height: 2px;
	background-color: white;
	box-shadow: 1px 1px 10px settings.$titlecolor;

	@media screen and (min-width: 730px) {
		width: 480px;
		}
	}

	&::before {
		margin: -10px auto;
	}

	&::after {
		margin: -10px auto;
	}
}
*/

footer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	padding: settings.$spacer;
	margin-top: settings.$spacer*3;
	background-color: settings.$titlecolor;
	color: white;
}

.footer__facebook,
.footer__email{
	color:white;
}