@use "settings";

.logo {
	display: inline-block;
}

.logo__text {
    color: settings.$titlecolor;
	font-family: settings.$titlefont;
	font-size: 25px;
	font-weight: bold;
	margin: settings.$spacer;
	margin-bottom: settings.$spacer / 2;

	@media screen and (min-width: settings.$breakpoint1) {
		margin: settings.$spacer;
	}

	@media screen and (min-width: settings.$breakpoint2) {
		margin-bottom: settings.$spacer * 2;
	}

	&::before,
	&::after {
		content:" ";
		display: block;
		width: 100%;
		height: 2px;
		background-color: settings.$titlecolor;

		@media screen and (min-width: 350px) {
			width: 306px;
			}
	}
	&::before {
		margin-bottom: -10px;
	}
	
	&::after {
		margin-top: -10px;
	}
}
